body{
    background-color: rgb(255, 230, 248);
}

.cabecera{
    display: flex;
    background-color: rgb(205, 152, 255);
    gap: 0.5%;
}
#titulo_cabecera{
    font-weight: normal;
    margin-right: 75%;
    padding-left: 2%;
}


.logo_nombre{
    display: contents;
}

.body_tareas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23%;
    padding: 6%;
}

#imagen_logo_usuario{
    padding-top: 0.5%;
    width: 3.5%;
    height: 3.5%;
}

#usuario_alias_logueado{
    text-align: left;
    font-weight: normal;

}

.lista_botones_tareas_contenedor {
    display: flex;
    flex-direction: column; 
    margin-bottom: 40%;
}

.contenedor_no_tareas {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; 
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 60%;
    padding-top: 19%;
    padding-bottom: 19%; 
    margin-bottom: 12%;
}


.lista_botones_ul {
    list-style: none;
    padding-top: 4%;
    margin-bottom: 10%;
}


#boton_nueva_tarea{
    width: 160%;
    height: 50%;
    padding: 25%;
    margin-bottom: 40%;
    background-color: rgb(130, 255, 138);
}

#boton_gestion_tarea{
    width: 160%;
    height: 50%;
    padding: 25%;
    background-color: aqua;
}

#boton_nueva_tarea:hover,
#boton_gestion_tarea:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}
